<div id="modal">
  <img src="img/pizzatower.png">
  <h1 class="text-xs-center p-a-2"><b>Pizza Tower</b></h1>
<div class="my-container">

  <div class="container-fluid">
    <form id="welcomeModal" class="form p-x-4 p-b-4 m-b-3 m-x-3">

      <div class="form-group">
        <br>
        <br>
        <br>
        <input placeholder="Name" type="text" class="form-control " id="exampleInputName2" ng-model="player.name">
      </div>

      <button type="submit" class="btn btn-primary" ng-click="startGame()">Start Game</button>

      <div class="m-t-3 p-t-3">
        <h3><b>Instructions:</b> </h3>
        <p>Pizza Tower is multiplayer game that challenges each player to be the first to stack enough pizzas to reach the top before your opponent(s). </p>
        <p>Use the right and left keys to move your Chef to catch the pizzas.</p>
        <p>Click User Dashboard to see your rank and score compared to your friends.</p>
        <p>Buona fortuna!</p>
      </div>
    </form>
  </div>

</div>
</div>
